<ul>
    {% assign oddEven = 0 %}
    {% for result in include.entity_list %}
        {% if oddEven == 0 %}
        <li class="odd" about="events:{{result.resUri | split: '/' | last}}"> <!-- toDo: about="events: correct? -->
            <a href="{{result.resUri}}">{{result.resUri | split: '/' | last}}</a>
        </li>
            {% assign oddEven = 1 %}
        {% else %}
        <li class="even" about="events:{{result.resUri | split: '/' | last}}">
            <a href="{{result.resUri}}">{{result.resUri | split: '/' | last}}</a>
        </li>
             {% assign oddEven = 0 %}
        {% endif %}
    {% endfor %}
</ul>