---
layout: aksw_org_default
---

<header class="intro">
<h1>Teaching</h1>
</header>
<div class="content" property="http://ns.ontowiki.net/SysOnt/Site/content">
    <nav class="nav-sidelinks">
        <ul>
            <li><strong class="headline">current funded projects</strong>                
            {% assign query= 'SELECT ?resUri WHERE{ ?resUri a <http://aksw.org/schema/FundedProject>. OPTIONAL {    ?resUri <http://aksw.org/schema/status> ?status   }  FILTER (?status != "finished")}' %}
            {% assign resultset = page.rdf | sparql_query: query %}
            {% include nav-sidelinks.html entity_list=resultset%}
            </li>
            <li><strong class="headline">featured projects</strong>
            {% assign query= "SELECT ?resUri WHERE { ?resUri <http://aksw.org/schema/promoted> '1'^^xsd:integer.}" %}
            {% assign resultset = page.rdf | sparql_query: query %}
            {% include nav-sidelinks.html entity_list=resultset%}
            </li>
        </ul>
    </nav>
    <p>
        Together with the Intelligent Systems department at Uni Leipzig, AKSW created the
        <a href="http://bis.informatik.uni-leipzig.de/de/Lehre/BAMA/SW">master module Semantic Web</a>
        . The module is usually held in the summer semester and consists of a lecture, a seminar and practical work.
    </p>
    <h1>Module component-based software engineering</h1>
    <p>
        “
        <em>Software aus Komponenten</em>
        ”
    </p>
    <p>
        Together with the Intelligent Systems department at Uni Leipzig, AKSW created the
        <a href="http://bis.informatik.uni-leipzig.de/de/Lehre/BAMA/CW">master module “Software aus Komponenten”</a>
        . The module is usually held in the winter semester and consists of a lecture, and a seminar.
    </p>
    <h1>SlideWiki</h1>
    <p>
        AKSW develops the collaborative e-learning content authoring tool
        <a href="http://slidewiki.aksw.org">SlideWiki</a>
        . With SlideWiki educators and students can work together on creating richly structured e-learning content such as presentations and self-assessment tests. Further information about SlideWiki can be found in the
        <a href="http://slidewiki.aksw.org/documentation/">SlideWiki documentation</a>
        .
    </p>
    <h1>Student Supervision</h1>
    <p>
        AKSW actively supervises internships as well as bachelor and master thesis. Most of the thesis topics are related to Web technologies, Semantic Web, ontologies, information systems and data management. They are usually performed in the context of an AKSW Project. You can also have a look at
        <a href="http://bis.informatik.uni-leipzig.de/de/Abschlussarbeiten">BIS Abschlussarbeiten</a>
        .
    </p>
    <h1>Leipzig School of Media</h1>
    <p>
        AKSW organizes and performs the master study course
        <a href="http://www.leipzigschoolofmedia.de/master-content-and-media-engineering/">Content- & Media-Engineering</a>
        at Leipzig School of Media.
    </p>
    <h1>Past Courses</h1>
    <h2>WiSe 2014/2015</h2>
    <ul>
        <li>
            <a href="http://bis.informatik.uni-leipzig.de/de/Lehre/1415/WS/LV/DSSNP">“Praktikum: Distributed Semantic Social Networks”</a>
        </li>
    </ul>
    <h2>WiSe 2013/2014</h2>
    <ul>
        <li>
            <a href="http://aksw.org/Teaching/WiSe2013/ResourceManagementSeminar">
            “Semantic Web based digital resource management –
            <em>Semantic Web basiertes digitales Ressourcenmanagement</em>
            ”
            </a>
        </li>
    </ul>
    <h2>WiSe 2012/2013</h2>
    <ul>
        <li>
            <a href="http://bis.informatik.uni-leipzig.de/de/Lehre/1213/WS/LV/DSSNP">“Praktikum: Distributed Semantic Social Networks”</a>
        </li>
    </ul>
</div>
