---
layout: aksw_org_default
---

<header class="intro">
    <h1>Publications</h1>
    <script>$("#publications").addClass("active");</script>
</header>
<div classs="content" property="http://ns.ontowiki.net/SysOnt/Site/content">
    <nav class="nav-sidelinks">
        <ul>
            <li><strong class="headline">current funded projects</strong>                
            {% assign query= 'SELECT ?resUri WHERE{ ?resUri a <http://aksw.org/schema/FundedProject>. OPTIONAL {    ?resUri <http://aksw.org/schema/status> ?status   }  FILTER (?status != "finished")}' %}
            {% assign resultset = page.rdf | sparql_query: query %}
            {% include nav-sidelinks.html entity_list=resultset%}
            </li>
        </ul>
    </nav>
    <p>
        BibTeX entries for all AKSW publications can be found at
        <a href="http://www.bibsonomy.org/user/aksw">Bibsonomy</a>
        .
    </p> 
</div>
<div class="exhibit-filter-tools">
<h2 class="hideme">Filters</h2>
<div ex:facetlabel="Keyword" ex:facetclass="TextSearch" ex:role="facet">
<div class="exhibit-facet-header">
    <span class="exhibit-facet-header-title">Keyword</span>
</div>
<div class="exhibit-text-facet">
    <input type="text">
</div>
</div>
<div class="subcolumns equalize">
<div class="c33l">
<div class="subcl">
<div class="exhibit-facet" ex:height="15em" ex:sortdirection="reverse" ex:facetlabel="Year" ex:expression=".year" ex:showmissing="false" ex:role="facet">
<div class="exhibit-facet-header">
<div class="exhibit-facet-header-filterControl" title="Auswahl aufheben" style="display: none;">
</div>
<span class="exhibit-facet-header-title">Year</span>
</div>
<div class="exhibit-facet-body-frame">
<div class="exhibit-facet-body" style="height: 15em; display: block;">      
</div>
</div>
</div>
</div>
</div>
<div class="c33l">
<div class="subc">
<div class="exhibit-facet" ex:height="15em" ex:sortmode="count" ex:facetlabel="Type" ex:expression=".pub-type" ex:showmissing="false" ex:role="facet">
<div class="exhibit-facet-header">
<div class="exhibit-facet-header-filterControl" title="Auswahl aufheben" style="display: none;">
</div>
<span class="exhibit-facet-header-title">Type</span>
</div>
<div class="exhibit-facet-body-frame">
<div class="exhibit-facet-body" style="height: 15em; display: block;">        
</div>
</div>
</div>
</div>
</div>
<div class="c33r">
<div class="subcr">
<div class="exhibit-facet" ex:height="15em" ex:sortmode="count" ex:facetlabel="(Co-)Authors" ex:expression=".author" ex:showmissing="false" ex:role="facet">
<div class="exhibit-facet-header">
<div class="exhibit-facet-header-filterControl" title="Auswahl aufheben" style="display: none;">
</div>
<span class="exhibit-facet-header-title">(Co-)Authors</span>
</div>
<div class="exhibit-facet-body-frame">
<div class="exhibit-facet-body" style="height: 15em; display: block;">        
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<nav class="nav-sidelinks">
<div class="exhibit-filter-tools">
<div class="exhibit-cloudFacet" ex:sortdirection="reverse" ex:facetlabel="Year" ex:expression=".year" ex:showmissing="false" ex:role="facet" ex:facetclass="Cloud">
<div class="exhibit-cloudFacet-header">
<span class="exhibit-cloudFacet-header-title">Year</span>
</div>
<div class="exhibit-cloudFacet-body" style="display: block;">
<span class="exhibit-cloudFacet-value"> 2003 </span>
<span class="exhibit-cloudFacet-value"> 2004 </span>
<span class="exhibit-cloudFacet-value" style="font-size: 108%;"> 2005 </span>
<span class="exhibit-cloudFacet-value" style="font-size: 130%;"> 2006 </span>
<span class="exhibit-cloudFacet-value" style="font-size: 132%;"> 2007 </span>
<span class="exhibit-cloudFacet-value" style="font-size: 139%;"> 2008 </span>
<span class="exhibit-cloudFacet-value" style="font-size: 146%;"> 2009 </span>
<span class="exhibit-cloudFacet-value" style="font-size: 145%;"> 2010 </span>
<span class="exhibit-cloudFacet-value" style="font-size: 148%;"> 2011 </span>
<span class="exhibit-cloudFacet-value" style="font-size: 160%;"> 2012 </span>
<span class="exhibit-cloudFacet-value" style="font-size: 168%;"> 2013 </span>
<span class="exhibit-cloudFacet-value" style="font-size: 192%;"> 2014 </span>
<span class="exhibit-cloudFacet-value" style="font-size: 169%;"> 2015 </span>
<span class="exhibit-cloudFacet-value" style="font-size: 139%;"> 2016 </span>
</div>
</div>
<div class="exhibit-cloudFacet" ex:sortmode="count" ex:facetlabel="Type" ex:expression=".pub-type" ex:showmissing="false" ex:role="facet" ex:facetclass="Cloud">
<div class="exhibit-cloudFacet-header">
<span class="exhibit-cloudFacet-header-title">Type</span>
</div>
<div class="exhibit-cloudFacet-body" style="display: block;">
<span class="exhibit-cloudFacet-value" style="font-size: 126%;"> article </span>
<span class="exhibit-cloudFacet-value" style="font-size: 103%;"> book </span>
<span class="exhibit-cloudFacet-value"> conference </span>
<span class="exhibit-cloudFacet-value" style="font-size: 101%;"> inbook </span>
<span class="exhibit-cloudFacet-value" style="font-size: 122%;"> incollection </span>
<span class="exhibit-cloudFacet-value" style="font-size: 192%;"> inproceedings </span>
<span class="exhibit-cloudFacet-value"> mastersthesis </span>
<span class="exhibit-cloudFacet-value"> misc </span>
<span class="exhibit-cloudFacet-value" style="font-size: 102%;"> phdthesis </span>
<span class="exhibit-cloudFacet-value" style="font-size: 102%;"> poster </span>
<span class="exhibit-cloudFacet-value" style="font-size: 109%;"> proceedings </span>
<span class="exhibit-cloudFacet-value" style="font-size: 104%;"> techreport </span>
</div>
</div>
</div>
</nav>