---
layout: aksw_org_default
---

<header class="intro">
    <h1>Partners</h1>
</header>
<div class="content" property="http://ns.ontowiki.net/SysOnt/Site/content">
    <div class="query-list-abstract">
        {% assign query ='SELECT distinct ?resUri WHERE {  ?project <http://aksw.org/schema/partner> ?resUri.} ORDER BY ?resUri' %}    <!-- SELECT ?resUri (GROUP_CONCAT(?project; separator = "|") AS ?proj) WHERE {  ?project <http://aksw.org/schema/partner> ?resUri.} group by ?resUri-->
        {% assign resultset = page.rdf | sparql_query: query %}
        {% for partner in resultset %}
            {% include partner.html associate = partner.resUri %}
        {% endfor%}
    </div>
</div>
