---
layout: aksw_org_default
---

<header class="intro">
    <h1>Publications</h1>
    <script>$("#publications").addClass("active");</script>
</header>
<div classs="content" property="http://ns.ontowiki.net/SysOnt/Site/content">
    <nav class="nav-sidelinks">
        <ul>
            <li><strong class="headline">current funded projects</strong>                
            {% assign query= 'SELECT ?resUri WHERE{ ?resUri a <http://aksw.org/schema/FundedProject>. OPTIONAL {    ?resUri <http://aksw.org/schema/status> ?status   }  FILTER (?status != "finished")}' %}
            {% assign resultset = page.rdf | sparql_query: query %}
            {% include nav-sidelinks.html entity_list=resultset%}
            </li>
        </ul>
    </nav>
    <p>
        BibTeX entries for all AKSW publications can be found at
        <a href="http://www.bibsonomy.org/user/aksw">Bibsonomy</a> <!--http://www.bibsonomy.org/json/user/aksw/group_aksw?items=1000  -->
        .
    </p> 
</div>
<div ex:role="exhibit-lens">
    <strong>
        <span ex:content="if(exists(.uri), concat('<a href=', .uri, '>', .label, '</a>'), .label)"></span> <!-- <a> element -->
        <span>
            <span class="author" ex:content=".author"></span>
        </span>
    </strong>
    <span class="meta">
        <span ex:content="if(exists(.booktitle), concat('<em>in</em> ', .booktitle), '')"></span>
        <span class="journal" ex:content="if(exists(.journal), concat('<em>in</em> ', .journal), '')"></span>
        <a ex:href-content=".id">
            [BibTex
            <span class="hideme">
                of
                <span ex:content=".label">
                </span>
            </span>
            ]
        </a>
    </span>
    <span class="note" ex:content="if(exists(.note), concat('<br/><em>Note:</em> ', .note), '')"></span>
    <span class="abstract" ex:content="if(exists(.abstract), concat('<br/><details><summary>Abstract:</summary> ', .abstract, '</details>'), '')"></span>
</div>
<div ex:role="exhibit-view" ex:showduplicates="false" ex:showsummary="true" ex:directions="descending,ascending" ex:orders=".year,.label" ex:grouped="false"></div>
